<footer class="bg-dark text-center text-white ">

    <div class="container p-4" >
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/anil-akbulut/" target="_blank" role="button">Linkedin</a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/anilakbulut/CaseAngular/tree/master/NgCase" target="_blank" role="button">Github</a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/anil432/?hl=tr" target="_blank" role="button">Instagram</a>
      </section>
    </div>

    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 September, Copyright: <i><b>Anıl Akbulut</b></i>
    </div>
    
</footer>
 