<div #homepageTarget>
    <tui-carousel 
    [duration]="4000"
    [(index)]="index"
>
    <ng-container *ngFor="let item of general | slice:0:3">
        <tui-island *tuiItem>
            <div class="fullCarousel" >
                <img src="{{item.urlToImage}}" alt="">
                    <!-- buraya kategorisiz apiden ilk 3 resim gelecek -->
                <div class="titlePosition">
                    <h3 class="titleOutline">{{item.title}}</h3>
                    <!-- buraya kategorisiz apiden ilk 3 veri gelecek -->
                </div>
            </div>
        </tui-island>
    </ng-container>
</tui-carousel>
<tui-pagination
    size="m"
    class="pagination"
    [length]="3"
    [(index)]="index"
></tui-pagination>
</div>

<hr #target>
<div>
    <div class="container ">

        <div class="row">
            <div class="col">
                <div class="container ">
                    <div class="row " >
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/homepage']"   
                                (click)="scroll(homepageTarget)" 
                                routerLinkActive="active"
                                (click)="onClick('Home Page')"
                
                            >
                            Home Page
                            </button>
                
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/business']"    
                                (click)="scroll(target)"       
                                routerLinkActive="active"
                                (click)="onClick('Business News')"
                
                            >
                                Business
                            </button>   
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/entertainment']"   
                                (click)="scroll(target)"       
                                routerLinkActive="active"
                                (click)="onClick('Entertainment News')"
                
                            >
                                Entertainment
                            </button>   
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/general']" 
                                (click)="scroll(target)"     
                                routerLinkActive="active"   
                                (click)="onClick('General News')"
                            >
                                General
                            </button>   
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/health']"  
                                (click)="scroll(target)"
                                routerLinkActive="active"     
                                (click)="onClick('Health News')"
                            >
                                Health
                            </button>   
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/science']"
                                (click)="scroll(target)"
                                routerLinkActive="active"    
                                (click)="onClick('Science News')"
                            >
                                Science
                            </button>   
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/sports']"     
                                (click)="scroll(target)" 
                                routerLinkActive="active"
                                (click)="onClick('Sport News')"
                            >
                                Sports
                            </button>   
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ">
                            <button
                                tuiButton
                                type="button"
                                appearance="outline"
                                class="tui-space_right-3 tui-space_bottom-3"
                                [routerLink]="['/technology']"
                                (click)="scroll(target)" 
                                routerLinkActive="active"    
                                (click)="onClick('Technology News')"
                            >
                                Technology
                            </button>   
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>


<div [@newsAnimation]="routerNews.isActivated ? routerNews.activatedRoute : ''">
    <router-outlet #routerNews="outlet"></router-outlet>
  </div>
